<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bdtask - Bootstrap Admin Template Dashboard</title>

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/assets/dist/img/ico/favicon.png" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="/assets/dist/img/ico/apple-touch-icon-57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/assets/dist/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/assets/dist/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/assets/dist/img/ico/apple-touch-icon-144-precomposed.png">

        <!-- Start Global Mandatory Style
        =====================================================================-->
        <!-- jquery-ui css -->
        <link href="/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap -->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap rtl -->
        <!--<link href="/assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
        <!-- Lobipanel css -->
        <link href="/assets/plugins/lobipanel/lobipanel.min.css" rel="stylesheet" type="text/css"/>
        <!-- Pace css -->
        <link href="/assets/plugins/pace/flash.css" rel="stylesheet" type="text/css"/>
        <!-- Font Awesome -->
        <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <!-- Pe-icon -->
        <link href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css"/>
        <!-- Themify icons -->
        <link href="/assets/themify-icons/themify-icons.css" rel="stylesheet" type="text/css"/>
        <!-- End Global Mandatory Style
        =====================================================================-->
        <!-- Start Theme Layout Style
        =====================================================================-->
        <!-- Theme style -->
        <link href="/assets/dist/css/styleBD.css" rel="stylesheet" type="text/css"/>
        <!-- Theme style rtl -->
        <!--<link href="/assets/dist/css/styleBD-rtl.css" rel="stylesheet" type="text/css"/>-->
        <!-- End Theme Layout Style
        =====================================================================-->
    </head>
    <body class="hold-transition sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <header class="main-header"> 
                <a href="#" class="logo"> <!-- Logo -->
                    <span class="logo-mini">
                        <!--<b>A</b>BD-->
                        <img src="/assets/dist/img/mini-logo.png" alt="">
                    </span>
                    <span class="logo-lg">
                        <!--<b>Admin</b>BD-->
                        <img src="/assets/dist/img/logo.png" alt="">
                    </span>
                </a>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button-->
                        <span class="sr-only">Toggle navigation</span>
                        <span class="pe-7s-keypad"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown dropdown-user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user-circle-o v-middle" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                   <!-- <li><a href="profile.html"><i class="pe-7s-users"></i> User Profile</a></li>
                                    <li><a href="#"><i class="pe-7s-settings"></i> Settings</a></li>-->
                                    <li><a href="/logout"><i class="pe-7s-key"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- =============================================== -->
            <!-- Left side column. contains the sidebar -->
                            
            
                <% include partials/oem-navigation %>
                
            
            <!-- =============================================== -->
            
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper clearfix">
                <!-- Main content -->
                
                   
                        

                        <!-- Textual inputs -->
                        <div class="col-sm-12">
						<section class="content">
                            <div class="panel panel-bd unit-maneg-page">
                                <div class="panel-heading clearfix">
                                   <div class="panel-title pull-left">
                                        <h2>Product Master</h2>
                                    </div>
                                   
                                </div>
                                
                                <div class="form-common clearfix">
                                	
                                <div style="text-align:center; color: red;">
                                        <% if ( sessionFlash && sessionFlash.message) { %>
                                        <div class="failedProductId">
                                            <strong> <%= sessionFlash.message %></strong>
                                        </div>
                                        <% } %>
                                        </div>
								  
                                   		<div class="row">
										<div class="col-sm-11 "> <h4 class="sub-heading"> Create product</h4></div>
										<div class=" col-md-8 col-md-offset-2">
										<form class="form-horizontal" method="POST" action="/oem/generateProductMaster">
                                        
  <div class="form-group">
    <label class="control-label col-sm-3" for="productid">Oem Product Id</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="productid" name="OemProductId" required>
    </div>
                                        
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="productname">Product Name</label>
    <div class="col-sm-9"> 
      <input type="text" class="form-control" id="ProductName" name="ProductName" required>
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-3" for="Description">Description</label>
    <div class="col-sm-9"> 
	<textarea id="Description" class="form-control" name="Description" required></textarea>
      
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-success ">Create</button>
    </div>
  </div>
</form>
										</div>
                                            
                                            
                                            
                                        </div>
                                  
								   
								  
								   <div class="row">
								   <div class="col-sm-12">
								   <div class="panel-group" id="accordion">
 <div class="data-table clearfix">
 <div class="data-row table-header">
 <div class="col-sm-5 col-xs-5">
 <h4>Product Id</h4>
 </div>
  <div class="col-sm-5 col-xs-5">
<h4>Product Name</h4>
 </div>
  <div class="col-sm-2 col-xs-2">
  </div>
 </div>

<%if (userData.productMasters){%>
<% for (var i=userData.productMasters.length-1;i>=0;i--){%>
  <div class="data-row ">
 <div class="col-sm-5 col-xs-5">
 <h5><b><%=userData.productMasters[i].oemProductId%></b></h5>
 </div>
  <div class="col-sm-5 col-xs-5">
<h5><b><%=userData.productMasters[i].productName%></b></h5>
 </div>
   <div class="col-sm-2 text-right col-xs-2">
<span class="ti-plus expand plus-icon"></span>
   </div>
   <div class="detail-table ">
   <div class="col-md-6 col-sm-9">
       <table class="table table-bordered table-responsive">
            <tbody>
                <td>
<table class="table  table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Sku Id</th>
        <th>Sku name</th>
     
      </tr>
    </thead>
    <tbody>
        <%if (userData.skuMasters&&userData.productMasters[i].skusNumbers&&userData.productMasters[i].skusNumbers.length>0){%>
        <% for (var j=0;j<userData.skuMasters.length;j++){%>
            <%for (var k=0;k<userData.productMasters[i].skusNumbers.length;k++){%>
                <%if (userData.skuMasters[j].oemSkuId==userData.productMasters[i].skusNumbers[k]){%>
                
            
                    <tr>
                        <td><%=k+1%></td>
                        <td><%=userData.skuMasters[j].oemSkuId%></td>
                        <td><%=userData.skuMasters[j].SkuName%></td>
                    
                    </tr>
                <%}%>
            <%}%>
      <%}%>
      <%}%>
      
    </tbody>
  </table>
  </td>
  </tbody>
       </table>
  </div>
   </div>
 </div>
<%}%>
<%}%>

 
 </div>
 
 
</div>
								   </div>
								   </div>
								   
								   
								
                               </div>
                            </div>
							 </section> 
                        </div>
                  
                    <!-- Checkboxes & Radios -->
               <!-- /.content -->
            </div> <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>
                <strong>Copyright &copy; 2016-2017 <a href="#">bdtask</a>.</strong> All rights reserved. <i class="fa fa-heart color-green"></i>
            </footer>
        </div> <!-- ./wrapper -->
        <!-- Start Core Plugins
        =====================================================================-->
        <!-- jQuery -->
        
        <script src="/assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- jquery-ui --> 
        <script src="/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- lobipanel -->
        <script src="/assets/plugins/lobipanel/lobipanel.min.js" type="text/javascript"></script>
        <!-- Pace js -->
        <script src="/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
        <!-- SlimScroll -->
        <script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <!-- FastClick -->
        <script src="/assets/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
        <!-- AdminBD frame -->
        <script src="/assets/dist/js/frame.js" type="text/javascript"></script>
        <!-- End Core Plugins
        =====================================================================-->
        <!-- Start Theme label Script
        =====================================================================-->
        <!-- Dashboard js -->
        <script src="/assets/dist/js/dashboard.js" type="text/javascript"></script>
        <!-- End Theme label Script
        =====================================================================-->
        <script>
            $(function () {
                $("#datepicker").datepicker({
                    dateFormat: "dd-mm-yy"
                });
            });
			$(document).ready(function(){
			//$(".sidebar-menu > li > a").click(function(){
			//$(".dropdown").slideUp();
			//$(this).siblings(".dropdown").slideDown();
			//$(".plus-icon").removeClass("ti-minus");
			//$(".plus-icon").addClass("ti-plus");
			//$(this).find(".plus-icon").removeClass("ti-plus");
			//$(this).find(".plus-icon").addClass("ti-minus");
			
			//});
			
			$(".expand").click(function(){
			$(".detail-table").slideUp()
			$(this).parent().parent().children(".detail-table").slideDown();
			$(".expand.plus-icon").removeClass("ti-minus");
			$(".expand.plus-icon").addClass("ti-plus");
			$(this).addClass("ti-minus");
			$(this).removeClass("ti-plus");
			
            
        });
         
			});
        </script>
    </body>
</html>